@media only screen and (max-width: 1200px) {
  .Pillars {
    margin-top: 200px !important;
  }
}
@media only screen and (max-width: 800px) {
  .Pillars {
    margin-top: 240px !important;
   
  }
}



.icon {
  font-size: 6em !important;
  color: rgb(239, 83, 80) !important;
}
